<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- headerLinks --}}
    {{>headerLinks}}
    
</head>

<body>
    {{!-- Navbar --}}
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- header left -->
                    <!-- header right -->
                    <div class="col-md-6 col-12 col main_header_right abt">
                        <figure>
                            <img src="images/about.jpeg" alt="about.jpeg" class="img-fluid" title="dev jariwala">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 col main_header_left">
                        <p>Welcome to Dev Jariwala World.</p>
                        <h1>I am A <span>Mern Stack Developer,</span> Youtuber and Freelancer.</h1>
                        <a href="https://dev-jariwala.github.io/MyPortfolio/" target="_dev"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- footer --}}
    {{>footer}}
</body>

</html>